<div class="my-form">
  <div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :avatar, as: :file, label: "Choose an avatar", required: true, autofocus: true%>
      <%= f.input :first_name, required: true, autofocus: true%>
      <%= f.input :last_name, required: true, autofocus: true%>
      <%= f.input :username, required: true, autofocus: true%>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :biography, label: "Who are you?", input_html: {:rows => 6}, required: true, autofocus: true %>
      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", stories_path %>
  </div>
</div>