<div class="my-form">
  <div class="container">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :avatar, as: :file, label: "Choose an avatar", required: true, autofocus: true%>
    	<%= f.input :first_name, required: true, autofocus: true%>
    	<%= f.input :last_name, required: true, autofocus: true%>
    	<%= f.input :username, required: true, autofocus: true%>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :biography, label: "Who are you?", required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>