.container.container-color
	.row
		.col-md-4.col-md-offset-2
			= image_tag(@user.avatar.url(:medium), class: "profile-picture")

		.col-md-4
			%h1.color-name My stories:
			- @user.stories.each do |story|
				%p= link_to story.title, :controller => 'stories', :action => 'show', :id => story.id

			%br/
			%br/
			= link_to "Back to Stories", stories_path, class: "btn btn-primary"

	.row
		.col-md-4.col-md-offset-2
			%br/
			%hr/
			%hr/
			%h4.color-name Name: 
			= "#{@user.first_name} #{@user.last_name}" 
			%br/
			%h4.color-name About me:
			%p= @user.biography

	.row
		.col-md-4.col-md-offset-2
			%br/
			