= simple_form_for @story do |f|
	=f.input :title
	=f.input :tag_list, label: "Tags: (separated by commas)" 
	=f.input :content, input_html: {:rows => 15}

	
	=f.button :submit, class: "btn btn-success"