.container
	%h1 The Stories Room
	= link_to "Tell a new Story", new_story_path, class: "btn btn-lg my-button"
	%hr/
	.row.marging-bottom
		.col-md-4
			%h2 About TellMe
			%p This app is about writing and reading. I believe that every story needs to be told. Founded in this kind of think i decide create this app.
			Anyone can write, anyone can read!
			All of you are welcome! Fells like in my room, in my house, and just tell me about anything that you want. About yourself, about happynes, about sadnes, love, to make us laugh or cry.
			one more time, you are welcome!
			%br/
			%br/
			Eduardo Martins.
		.col-md-6.stories
			- @stories.each do |story|	
				.center-text
					%h1.my-title= link_to story.title, story_path(story), class: "story-title"
					%br/
					%p.left-text 
						Tags:
						= raw story.tag_list.map{ |t| link_to t, tag_path(t)}.join(', ')
					%p.left-text
						= pluralize(story.get_likes.size,'Like')
				%hr/
				
		.col-md-2
			%h3 Tag Cloud:
			#tag_cloud
				- tag_cloud(Story.tag_counts, %w(css1, css2, css3, css4)) do |tag, css_class|
					= link_to tag.name, tag_path(tag.name), :class => css_class
				%br/
				%br/
				= link_to "All Stories", stories_path

	
	