.container
	.row.marging-bottom
		%h1= @story.title
		%h4= link_to "by #{@story.user.first_name} #{@story.user.last_name}", :controller => 'users', :action => 'show', :id => @story.user.id

		%p= simple_format @story.content

		%p
			= pluralize(@story.get_upvotes.size, 'Like')
		%p
			= pluralize(@story.get_downvotes.size, 'Dislike')

		%button.btn.btn-default
			%span.glyphicon.glyphicon-heart= link_to "  Like", like_story_path(@story), method: :get
		%button.btn.btn-default
			%span.glyphicon.glyphicon-heart-empty= link_to "  Dislike", dislike_story_path(@story), method: :get

		%br/
		%h3 Comments
		%p= "#{@story.comments.count} comments."
		= render @story.comments
		
		- if user_signed_in?
			%hr/
			%h2 Leave a comment
			= render 'comments/form'
		- else
			%h2 Log in to leave a comment




		%br/
		%br/

		- if (current_user.id == @story.user.id)
			= link_to 'Edit', edit_story_path(@story), class: "btn btn-primary"
			= link_to 'Delete', story_path(@story), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"

		%br/
		%br/

		= link_to "Back to Stories", stories_path, class: "btn btn-primary"