// Place all the styles related to the FrontPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
	margin: 0;
}

.navbar-inverse {
	.navbar-brand {
		a {
			color: #CCD2E1;
			height: 60px;
			font-size: 2em;
		}
	}
}

.navbar-right {
	li {
		margin-right: 20px;
	}
}

.my-form {
	background-color: #D9D4C1;
	margin: 0;
	min-height: 600px;
	margin-top: -20px;
}

.my-background {
	background-image: url(image_path("intro02.jpeg"));
	background-size: cover;
	width: 100%;
	height: 608px;
	margin-top: -20px;
	border-bottom: solid 4px #CCD2E1;
	border-top: solid 4px #CCD2E1;
	.heading {
		margin-top: 120px;
		color:#948C78;
		font-size: 3em;
	}
	.sub-heading {
		color:#948C78;
	}
}

.my-button {
	background-color: #697594;
	color: #ffffff;
}

.my-footer {
	p {
		padding: 15px;
		color: white;
		float: right;
		margin-right: 30px;
	}
}

.marging-bottom {
	margin-bottom: 70px;
	margin-left: 0;
	margin-right: 0;
}




