@import "bootstrap-sprockets";
@import "bootstrap";


.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
    margin: 5px;
}

#tag_cloud {
	width: 400px;
	line-height: 1.6em;
	.css1 { 
		color: #000;
		font-size: 1.0em; 
	}
	.css2 {
		color: #000;
		font-size: 1.2em; 
	}
	.css3 {
		color: #000;
		font-size: 1.4em; 
	}
	.css4 {
		color: #000;
		font-size: 1.6em; 
	}
}


body {
	font-family: 'Montserrat', serif;
	margin-top: 60px;
	margin-bottom: 60px;
}

.stories {
	background-color: #D6D1BC;
}

.my-title {
	margin-bottom: 0;
}

.my-text-area {
	height: 400px;
}

.story-title {
	color: #222222;
}

.story-sub-title {
	color:#948C78;
}

.center-text {
	text-align: center;
	h1 {
		a {
			color: #948C78;
		}
	}
}

.left-text {
	text-align: left;
	margin-left: 10px;
	margin-bottom: 0;
}

.right-text {
	text-align: right;
	margin-right: 10px;
}

.profile-picture {
	border: 10px solid #d9d9d9;
	margin-top: 50px;
}

.color-name {
	color: #948C78;
}
