!!!5
%html
	%head
		%title Tellme
	= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Montserrat'
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	%body
		%nav.navbar-inverse.navbar-fixed-top
			
			.navbar-brand.my-brand= link_to "TELL.ME", stories_path
			%ul.nav.navbar-nav.navbar-right.my-links

				- if user_signed_in?
					%li= link_to "My Profile", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
					%li.round-image-50= image_tag(current_user.avatar.url(:thumb, timestamp: false))
				- else
					%li= link_to "Sign In", new_user_session_path
					%li= link_to "Sign Up", new_user_registration_path
						

		.container
			= render 'layouts/messages'

		= yield


		.my-footer
			.nav.navbar-inverse.navbar-fixed-bottom
				%p Developed by: Eduardo Martins

